<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue js component usage demo</title>
    <script src="http://cdn.bootcss.com/vue/2.0.5/vue.js"></script>
</head>
<body>
    <div id="app">
        <counter heading="Like" color="green"></counter>
        <counter heading="Dislike" color="red"></counter>
    </div>
    <template id="counter-template">
        <h1>{{ heading }}</h1>
        <button @click="count += 1" style="background: {{ color }}">Submit {{count}}</button>
    </template>
    <script src="http://cdn.bootcss.com/vue/2.0.5/vue.js"></script>
    <script>
        Vue.component('counter', {
            template: '#counter-template',
            props: [ 'heading', 'color' ],
            data: function(){
                return { count: 0 };
            }
        });

        new Vue({
            el: '#app'
        });
    </script>
</body>
</html>